/* CSS for the Courses Page */


/******************** Main Title ********************/
.courses-title {
    margin-bottom: 30px;
}

.courses-title h1 {
    font-size: 45px;
    font-weight: normal;
}

.course-title {
    padding: 30px 0 10px 0;
    font-size: 15px;
}

/******************** Carousel Courses ********************/

.box {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 15px 30px 0 rgba(25, 71, 128, 0.2);
    min-height: calc(100% - 40px);
    margin-bottom: 40px;
    transition: all 0.3s ease-out 0s;
}
.courses-box {
    padding: 10px 35px 20px;
    background-color: #ffffff;
    box-shadow: 0 15px 20px 0 rgba(25, 71, 128, 0.2);
    border-radius: 5px;
    min-height: calc(100% - 20px);
    margin: 30px 5px;
    color: #8b8b8b;
    line-height: 1.5;
    text-align: center;
    font-size: 16px;
    transition: all 0.3s ease-out 0s;
}

.course-img{
    padding: 0 30px;
    margin-bottom: 20px;
}

.our-courses-wrap {
    padding: 80px 0;
}

.our-course-slider {
    margin: 0px -15px 0px -15px;
}

.our-course-slider .box .box-header {
    padding: 30px;
    font-size: 15px;
}

.our-course-slider .box .box-header a {
    padding: 30px;
    font-size: 15px;
}

.btn.small {
    min-width: 150px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px;
}

.btn-md {
    max-width: 300px;
    width: 100%;
}

/* Study at CPT Campus Stylying */

.box {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 15px 30px 0 rgba(25, 71, 128, 0.2);
    min-height: calc(100% - 40px);
    margin-bottom: 40px;
    transition: all 0.3s ease-out 0s;
}

.icon-square {
    border-radius: 8px;
    width: 75px;
    height: 75px;
    text-align: center;
    padding: 15px;
}

@media (min-width: 768px) {
    .ct-campus .media .media-body {
        margin-left: 40px;
    }
}

.join-mail .btn.small {
    width: 100%;
}

.btn-blue-outline {
    border: 2px solid #60a0e3;
    color: #5b9de3;
}

.our-course-slider .owl-carousel .owl-item .item {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    padding: 20px;
    padding-bottom: 30px;
}