/* CSS for the Courses Page */


/******************** Main Title ********************/
.courses-title {
    margin-bottom: 30px;
}

.courses-title h1 {
    font-size: 45px;
    font-weight: normal;
}

.course-title {
    padding: 30px 0 10px 0;
    font-size: 15px;
}

/******************** Carousel Courses ********************/

.box {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 15px 30px 0 rgba(25, 71, 128, 0.2);
    min-height: calc(100% - 40px);
    margin-bottom: 40px;
    transition: all 0.3s ease-out 0s;
}

.course-img{
    padding: 0 30px;
    margin-bottom: 20px;
}

.our-courses-wrap {
    padding: 80px 0;
}

.our-course-slider .box .box-header {
    padding: 30px;
    font-size: 15px;
}

.our-course-slider .box .box-header a {
    padding: 30px;
    font-size: 15px;
}

.btn.small {
    min-width: 150px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px;
}

.btn-md {
    max-width: 300px;
    width: 100%;
}