@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
    height: 100%;
}

body {
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #343d42;
    font-size: 14px;
    line-height: 1.1;
    min-height: calc(100vh - 68px - 384px);
}

p {
    font-family: 'Titillium Web', sans-serif;
    color: #343d42;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.44;
}

h1, h2, .h1, .h2, h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    color: #343d42;
}

ol, ul {
    margin: 0;
    padding: 0;
}

.bg-light-blue {
    background-color: rgba(91, 157, 227, 0.08);
}

.btn {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: normal;
    background: none;
    border-radius: 40px;
    border: 2px solid #60a0e3;
    margin: 0;
    color: #5b9de3;
    padding: 10px 30px 12px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    white-space: normal;
    word-wrap: break-word;
    box-shadow: none;
    text-decoration: none;
}

.small-btn {
    min-width: 150px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px;
}

/* .btn-blue {
    background-color: #5b9de3;
    border: 2px solid #5b9de3;
    color: #ffffff;
} */

    /*********************************** Navbar CSS**** Start **************************/

.navbar {
    padding: 0.5rem 0rem;
    background-color: #36414c;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
}

.navbar-dark .navbar-nav .nav-link:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 2px;
    background-color: #459de9;
    transition: all 0.2s ease-in-out;
}

/* .navbar-dark .navbar-nav .nav-link:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #459de9;
    transition: all 0.2s ease-in-out;
} */

.dark-bg {
    background-color: #36414c;
}

nav li {
    padding-right: 10px;
    padding-left: 10px;
}

nav li span {
    padding-left: 5px;
}

nav li a {
    padding: 5px;
    color: #fff;
    text-transform: uppercase;
}

#cart a {
    color: #000;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
} 

.bg-light-blue {
    background-color: rgba(91, 157, 227, 0.08);
}
  
.f-bold {
    font-weight: bold;
}
  
.bg-blue {
    background-color: #5b9de3;
}

.blue-text {
    color: #5b9de3;
  }
  
.blk-link {
    color: #343d42;
    position: relative;
    text-decoration: underline;
}

.blue-link {
    color: #5b9de3;
    outline: none;
    text-decoration: underline;
}

  
#box {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 15px 30px 0 rgba(25, 71, 128, 0.2);
    min-height: calc(100% - 40px);
    margin-bottom: 40px;
    transition: all 0.3s ease-out 0s;
}

    /*********************************** Navbar CSS**** End **************************/

    /*********************************** Banner Section CSS**** Start **************************/

.banner-wrap {
    justify-content: center;
    margin-top: 0px;
    min-height: calc(100vh - 67px);
    padding: 60px 0;

}
.banner-title h1 {
    font-size: 56px;
    font-weight: normal;
}

.semibold {
    font-weight: 600;
}

.large {
    background-color: #5b9de3;
    border: 2px solid #5b9de3;
    color: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(25, 71, 128, 0.2);
    max-width: 330px;
    padding-top: 15px;
    padding-bottom: 18px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 30px;
    margin-top: 10px;
}

img {
    max-width: 100%;
}

.banner-text {
    margin-bottom: 30px;
}

.banner-text p {
    font-weight: 600;
    font-size: 18px;
}

    /*********************************** Banner Section CSS**** End **************************/

    /*********************************** Why Maven Academy CSS**** Start **************************/
   
.why-maven-container {
    background-color: #ffffff;
    display: flex;
    padding: 60px 0 60px 4%;
}

.why-us-block {
    /* width: 100%; */
    padding: 60px 100px;
    
}

.why-us h2 {
    font-size: 50px;
    font-weight: 600;
    color: #343d42;
}

.why-us p {
    text-align: left;
    color: #343d42;
}


/********** Services and Icon CSS *********/
.why-us-wrap {
    padding: 80px 0 80px;
}


.media .media-body h5 {
    font-weight: bold;
}

.service-box {
    padding: 60px 4% 40px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 15px 30px 0 rgba(25, 71, 128, 0.2);
    min-height: calc(100% - 40px);
    margin-bottom: 40px;
    transition: all 0.3s ease-out 0s;
}

.service-box .media {
    margin-bottom: 40px;
}

.icon-square {
    border-radius: 8px;
    width: 75px;
    height: 75px;
    text-align: center;
    padding: 15px;
}

@media (min-width: 768px) {
    .service-box .media .media-body {
        margin-left: 40px;
    }
}

    /*********************************** Why Maven Academy CSS**** End **************************/

    /*********************************** Our Courses CSS**** Start **************************/


.our-courses-wrap {
    padding: 80px 0;
}

.our-course-slider {
    margin: 0px -15px 0px -15px;
}

.courses-box {
    padding: 30px 35px 20px;
    background-color: #ffffff;
    box-shadow: 0 15px 20px 0 rgba(25, 71, 128, 0.2);
    border-radius: 5px;
    min-height: calc(100% - 20px);
    margin: 30px 5px;
    color: #8b8b8b;
    line-height: 1.5;
    text-align: center;
    font-size: 16px;
    transition: all 0.3s ease-out 0s;
}


.course-title{
 font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #409bec
}

.our-course-slider .owl-carousel .owl-item .item {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    padding: 20px;
    padding-bottom: 30px;
}

    /*********************************** Our Courses CSS**** End **************************/

    /*********************************** Careers Section CSS**** Start **************************/


.img-fluid {
    max-width: 100%;
    height: 100%;
    display: block;
}

    /*********************************** Careers Section CSS**** End **************************/


    /*********************************** Alumni Section CSS**** Start **************************/


.alumni-wrapper{
    background-color: #36414c;
    padding: 100px 0;
}


    /*********************************** Alumni Section CSS**** End **************************/

    /*********************************** Contact Us CSS**** Start **************************/

.contact-us {
    padding: 80px 0;
}

.main-title h2 {
    font-size: 45px;
    font-weight: normal;
}

#num-link {
    color: #5b9de3;
    outline: none;
}

/********** Footer Styling *********/

footer {
    left: 0;
    width: 100%;
    bottom: 0;
}
.footer-top {
    background-color: #36414c;
    /* height: 120vh; */
    padding: 80px 0;
}

.footer-links ul li a {
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    transition: all 0.3s linear;
    
}

.footer-links ul li {
    list-style: none;
    display: block;
    margin-bottom: 30px;
}

.footer-title {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #5b9de3;
}

.tel-number {
    font-weight: 600;
    font-size: 22px;
}

.address ul li p a {
    color: #fff;
}

.link {
    text-decoration: underline;
}
.address ul li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 30px;
    color: #ffffff;
}

.address ul li span {
    margin-right: 10px;
}

.address ul li p {
    flex: 1;
    margin-bottom: 0px;
    color: #ffffff;
    font-size: 12px;
}

.bottom-footer {
    background-color: #1f262d;
    padding: 40px 0;
}

/* footer Bottom Row */

.bottom-footer .social-media {
    text-align: right;
}
.copy-right p {
    color: #c6def6;
    font-size: 12px;
    margin: 0;
}

.social-media ul li {
    display: inline-block;
    margin: 0 4px;
}

.social-media ul li a {
    width: 34px;
    height: 34px;
    text-align: center;
    background-color: #5b9de3;
    border-radius: 5px;
    padding: 6px;
}






