/******************** Main Nav Bar Responsive Styling ********************/

@media (max-width: 992px) {
    .navbar {
        padding: 0rem 3rem 0rem 0rem;
    }
    .navbar .navbar-toggler {
        border: 0px;
        outline: none;
        padding: 0.25rem 0rem;
        width: 30px;
        height: 26px;
    }
    .navbar-dark .navbar-nav .nav-link {
        text-align: center;
        display: inline-block;
        font-size: 18px;
        padding: 0.8rem 0rem;
    }

    #cart {
        display: none;
    }
}


/******************** Main Banner Responsive Styling ********************/

@media (max-width: 823px) {
    .banner-wrap {
        min-height: calc(100vh -80px);
    }

    .banner-title h1 {
        font-size: 37px;
    }

}   


/******************** Why Us Responsive Styling ********************/

@media (max-width: 992px){
    .why-us-block {
        display: block;
        max-width: 720px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 40px;
        
    }
}

@media (max-width: 767px){
    .main-title h2 {
        font-size: 30px;
        line-height: 40px;
    }
}